body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #007bff;
}

.navbar a {
    color: #fff;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

.graph-container, .list-group-item {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05)!important;
}

.blue-text {
    color: blue;
}

.red-text {
    color: red;
}

.spinner {
    border: 8px solid #f3f3f3; /* Adjust border width */
    border-top: 8px solid #3498db; /* Adjust border width */
    border-radius: 50%;
    width: 40px; /* Adjust width */
    height: 40px; /* Adjust height */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}