<!DOCTYPE html>
<html>
<head>
    <title>Upload your files</title>
    <!-- Include your CSS styles here -->
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<!-- Include the navigation menu -->
<div th:include="navigation :: nav"></div>

<h1>File Upload</h1>
<form enctype="multipart/form-data" method="POST" th:action="@{/onion-service/upload/{port}(port=${port})}">
    <input multiple name="files" type="file"><br/><br/>
    <input type="submit" value="Submit">
</form>
<h2>Uploaded files:</h2>
<ul>
    <th:block th:each="file : ${uploadedFiles}">
        <li>
            <span th:text="${file}"></span>
            <form method="POST"
                  th:action="@{/onion-service/remove-file/{fileName}/{port}(fileName=${file}, port=${port})}">
                <button type="submit">Delete</button>
            </form>
        </li>
    </th:block>
</ul>
</body>
</html>