<!DOCTYPE html>
<html>
<head>
    <title>Upload your files</title>
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/graph.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
<div th:replace="navbar :: nav"></div>

<div class="container">
    <div class="row">
        <!-- Upload form -->
        <div class="col-md-6">
            <h1 class="mb-4">File Upload</h1>
            <form id="upload-form" enctype="multipart/form-data" method="POST" th:action="@{/onion-service/upload/{port}(port=${port})}" class="mb-4">
                <input id="file-input" multiple name="files" type="file" class="form-control mb-3">
                <input type="submit" value="Upload" class="btn btn-primary">
            </form>
        </div>

        <!-- Uploaded files and delete form -->
        <div class="col-md-6">
            <h2 class="mb-3">Uploaded files:</h2>
            <form id="delete-form" method="POST" th:action="@{/onion-service/remove-files/{port}(port=${port})}">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">File</th>
                        <th scope="col">Select</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="file, stat : ${uploadedFiles}">
                        <tr>
                            <th scope="row" th:text="${stat.count}"></th>
                            <td th:text="${file}"></td>
                            <td><input type="checkbox" name="selectedFiles" th:value="${file}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <input type="submit" value="Delete Selected" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>

<!-- Add jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script> src="/js/upload.js"</script>
</body>
</html>