<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tor Configuration Tool</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="csrf-token" th:content="${_csrf.token}"/>
</head>
<body>
<div th:replace="navbar :: nav"></div>
<!-- Footer -->
<div class="container">
    <h2>Tips</h2>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th scope="col">Open Ports</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ORPort: This is the "ORPort" that your relay will use to communicate with other relays in the Tor network.</td>
                </tr>
                <tr>
                    <td>ListenAddrPort: This is the "ListenAddrPort" that your relay will use to accept incoming connections.</td>
                </tr>
                <tr>
                    <td>WebTunnel Ports: For WebTunnel, ports 80 and 443 need to be open.</td>
                </tr>
                <tr>
                    <td>Control Port: This is the port that Tor uses to listen for commands and events. It's used to control the Tor process.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Limits</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Why Limits: Limits are set based on what Tor allows on one IP address. It's recommended to only run one type of relay at a time.</td>
                    </tr>
                    <tr>
                        <td>Guard Relays: The limit for guard relays is 8.</td>
                    </tr>
                    <tr>
                        <td>Obfs Bridge: The limit for obfs bridge is 2.</td>
                    </tr>
                    <tr>
                        <td>WebTunnel: The limit for WebTunnel is 1.</td>
                    </tr>
                    <tr>
                        <td>Snowflake Proxy: The limit for snowflake proxy is 1.</td>
                    </tr>
                    <tr>
                        <td>Onion Service: Onion service is without a number limit.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Page Information</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Home Setup Page: User sets up new Tor services on this page.</td>
                    </tr>
                    <tr>
                        <td>Traffic Data: User can see traffic on his relays and events on this page.</td>
                    </tr>
                    <tr>
                        <td>Tor Proxy: This page is for setting up a proxy.</td>
                    </tr>
                    <tr>
                        <td>Relay Operations: User can see which relays are running, start and stop those relays, and edit them on this page.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Relay Types</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Middle Relay: This is a type of relay that passes traffic within the Tor network. It doesn't know the source or destination of the traffic.</td>
                    </tr>
                    <tr>
                        <td>Guard Relay: This is the first relay in the Tor circuit. It knows the source of the traffic but not the destination.</td>
                    </tr>
                    <tr>
                        <td>Bridge: This is a type of relay that isn't listed in the public Tor directory, making it harder for censors to block.</td>
                    </tr>
                    <tr>
                        <td>Onion Service: This allows users to access services without revealing their location or the location of the service.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Choosing a Bridge</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Obfs4: Use this when you have an open IP.</td>
                    </tr>
                    <tr>
                        <td>WebTunnel: Use this when you have an open IP and a domain.</td>
                    </tr>
                    <tr>
                        <td>Snowflake: Use this when you don't have either an open IP or a domain.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/js/csrfToken.js"></script>
</body>
</html>