<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8">
    <title>Hidden Services Configuration</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
</head>
<body>
<div th:replace="navbar :: nav"></div>

<h1>Hidden Services Configuration</h1>

<!-- Display success message if provided -->
<div class="success-message" th:if="${successMessage}">
    <p th:text="${successMessage}"></p>
</div>
<div class="error-message" th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
</div>

<!-- Button to turn on hidden services -->
<form action="/onion-service/start" method="post">

    <input type="submit" value="Turn On Hidden Services">
</form>

<br><br>
<a href="/">Back to Home</a> <!-- Provide a link to navigate back to the home page -->

</body>
</html>
