<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tor Proxy Configuration</title>
    <link href="/css/navbar.css" rel="stylesheet">
</head>
<body>
<div th:replace="navbar :: nav"></div>

<h1>Tor Proxy Configuration</h1>

<!-- Display success or error messages if needed -->
<div class="success-message" th:if="${successMessage}">
    <p th:text="${successMessage}"></p>
</div>
<div class="error-message" th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
</div>

<!-- Button to turn on the Tor Proxy -->
<form action="/proxy/start" method="post">
    <button type="submit">Start Tor Proxy</button>
</form>

<br><br>
<a href="/">Back to Home</a> <!-- Provide a link to navigate back to the home page -->
</body>
</html>
