<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/homeArrow.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Tor Proxy Configuration</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="navbar :: nav"></div>

<div class="container mt-5">
    <h1 class="text-center mb-4">Tor Proxy Configuration</h1>

    <div class="alert alert-warning" role="alert">
        <p><strong>Warning:</strong> This is not the ideal usage of Tor and the Tor Browser is still recommended if you
            plan to visit onion sites. Please visit the tutorial section below for more information on how to set up a
            client computer.</p>
    </div>

    <!-- Display success or error messages if needed -->
    <div class="alert alert-success" th:if="${successMessage}" role="alert">
        <p th:text="${successMessage}"></p>
    </div>
    <div class="alert alert-danger" th:if="${errorMessage}" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <div class="button-container">
            <!-- Start Proxy Form -->
            <form action="/proxy/start" method="post" class="proxy-button">
                <div class="form-group">
                    <label for="socksPort">SOCKS Port:</label>
                    <input type="number" min="1" max="65535" class="form-control" id="socksPort" name="socksPort" required>
                </div>
                <button type="submit" class="btn btn-success" id="startButton" onclick="showWarning()">Start Tor Proxy</button>
            </form>
            <!-- Stop Proxy Form -->
            <form action="/proxy/stop" method="post" class="proxy-button mt-3">
                <button type="submit" class="btn btn-danger" id="stopButton" onclick="showWarning()">Stop Tor Proxy</button>
            </form>
        </div>

        <!-- Proxy Status -->
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">Proxy Status: <span id="proxyStatus" th:text="${proxyStatus}"></span></p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Proxy Information</h2>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Local IP</th>
                <th scope="col">SOCKS Port</th>
                <th scope="col">DNS Port</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${localIp}"></td>
                <td th:text="${socksPort}"></td>
                <td>53</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Tutorial Section -->
<div class="container mt-5">
    <h2 class="text-center mb-4">How to Setup a Proxy on Client Computer</h2>

    <div class="card">
        <div class="card-header" id="dnsHeading" data-toggle="collapse" data-target="#dnsTips" aria-expanded="false" aria-controls="dnsTips" style="cursor: pointer;">
            <h3 class="mb-0 d-flex justify-content-between align-items-center">
                DNS Settings
                <span class="circle">
                    <span class="arrow" id="dnsArrow"></span>
                </span>
            </h3>
        </div>
        <div id="dnsTips" class="collapse" aria-labelledby="dnsHeading">
            <div class="card-body">
                <div class="image-text-wrapper">
                    <img src="/images/dns1.png" alt="DNS Setup 1">
                    <p>Press Windows + R, type "ncpa.cpl" and press Enter.</p>
                </div>

                <div class="image-text-wrapper">
                <img src="/images/dns2.png" alt="DNS Setup 2">
                <p>Right-click on the network adapter you are using and select "Properties".</p>
                </div>

                <div class="image-text-wrapper">
                <img src="/images/dns3.png" alt="DNS Setup 3">
                <p>Click on "Internet Protocol Version 4 (TCP/IPv4)" and then click "Properties".</p>
                </div>

                <div class="image-text-wrapper">
                <img src="/images/dns4.png" alt="DNS Setup 4">
                <p>Click on "Use the following DNS server addresses" and enter the local IP address of the computer running the Tor proxy.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="proxyHeading" data-toggle="collapse" data-target="#proxyTips" aria-expanded="false" aria-controls="proxyTips" style="cursor: pointer;">
            <h3 class="mb-0 d-flex justify-content-between align-items-center">
                Proxy SOCKS Setup
                <span class="circle">
                    <span class="arrow" id="proxyArrow"></span>
                </span>
            </h3>
        </div>
        <div id="proxyTips" class="collapse" aria-labelledby="proxyHeading">
            <div class="card-body">
                <!-- Proxy Images -->
                <div class="image-text-wrapper">
                <img src="/images/proxy1.png" alt="Proxy Setup 1">
                <p>Press Windows + R, type "inetcpl.cpl" and press Enter.</p>
                </div>

                <div class="image-text-wrapper">
                <img src="/images/proxy3.png" alt="Proxy Setup 3">
                <p>Click on the "Connections" tab and then click "LAN settings".</p>
                </div>

                <div class="image-text-wrapper">
                <img src="/images/proxy4.png" alt="Proxy Setup 4">
                <p>Check "Use a proxy server for your LAN" and click "Advanced".</p>
                </div>

                <div class="image-text-wrapper">
                <img src="/images/proxy5.png" alt="Proxy Setup 5">
                <p>In the "Socks" section, enter the local IP address of the computer running the Tor proxy and the port number.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="webrtcHeading" data-toggle="collapse" data-target="#webrtcTips" aria-expanded="false" aria-controls="webrtcTips" style="cursor: pointer;">
            <h3 class="mb-0 d-flex justify-content-between align-items-center">
                Disable WebRTC in browser of your choice!
                <span class="circle">
                    <span class="arrow" id="webrtcArrow"></span>
                </span>
            </h3>
        </div>
        <div id="webrtcTips" class="collapse" aria-labelledby="webrtcHeading">
            <div class="card-body">
                <div class="image-text-wrapper">
                    <p>How to disable WebRTC in Edge browser</p>
                    <p>1. Open your browser and type "about:config" in the address bar.</p>
                    <p>2. Search for "media.peerconnection.enabled" and set it to "false".</p>
                </div>

                <div class="image-text-wrapper">
                    <p>How to disable WebRTC in Chrome browser</p>
                    <p>Chrome does not have a built-in setting to disable WebRTC. You can use an extension like "WebRTC Control" to disable it.</p>
                </div>

                <div class="image-text-wrapper">
                    <p>How to disable WebRTC in Firefox browser</p>
                    <p>1. Open your browser and type "about:config" in the address bar.</p>
                    <p>2. Search for "media.peerconnection.enabled" and set it to "false".</p>
            </div>
        </div>
        </div>
    </div>
</div>

<script src="/js/warning.js"></script>
<script>
    $(document).ready(function() {
        $('#dnsHeading, #proxyHeading').on('click', function() {
            var arrowId = this.id.replace('Heading', 'Arrow');
            var arrow = $('#' + arrowId);
            var contentId = this.id.replace('Heading', 'Tips');
            if ($('#' + contentId).hasClass('show')) {
                arrow.removeClass('rotated');
            } else {
                arrow.addClass('rotated');
            }
        });
    });
</script>
<script>
    window.onload = function() {
        var proxyStatus = document.getElementById('proxyStatus');
        var startButton = document.getElementById('startButton');
        var stopButton = document.getElementById('stopButton');

        if (proxyStatus.innerText === 'Running') {
            startButton.disabled = true;
            proxyStatus.classList.add('status-running');
        } else if (proxyStatus.innerText === 'Stopped') {
            stopButton.disabled = true;
            proxyStatus.classList.add('status-stopped');
        }
    };
</script>
</body>
</html>