<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css"> <!-- Include the style.css file -->
    <link rel="stylesheet" type="text/css" href="/css/navbar.css"> <!-- Include the navbar.css file -->
    <meta charset="UTF-8">
    <title>Tor Relay Configuration</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/tabs.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="navbar :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
    <h1 class="text-center my-4">Tor Relay Configuration</h1>

    <!-- Display success message if provided -->
    <div class="alert alert-success" th:if="${successMessage}" role="alert">
        <p th:text="${successMessage}"></p>
    </div>

    <!-- Display error message if provided -->
    <div class="alert alert-danger" th:if="${errorMessage}" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- Create the tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="relay-tab" data-toggle="tab" href="#relayTab" role="tab" aria-controls="relayTab" aria-selected="true">Middle/Guard Relay</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bridge-tab" data-toggle="tab" href="#bridgeTab" role="tab" aria-controls="bridgeTab" aria-selected="false">Bridge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="onion-tab" data-toggle="tab" href="#onionTab" role="tab" aria-controls="onionTab" aria-selected="false">Onion Service</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <!-- Relay Tab Content -->
        <div class="tab-pane fade show active" id="relayTab" role="tabpanel" aria-labelledby="relay-tab">
            <form action="/guard/configure" id="guardForm" method="post">
                <div class="form-group">
                    <label for="relayNickname">Nickname:</label>
                    <input id="relayNickname" name="relayNickname" required pattern="^[a-zA-Z0-9]*$" title="Only alphanumeric characters are allowed" type="text" class="form-control" maxlength="19">
                </div>
                <div class="form-group">
                    <label for="relayContact">Contact email:</label>
                    <input id="relayContact" name="relayContact" required type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="relayPort">ORPort:</label>
                    <input id="relayPort" name="relayPort" required type="number" min="1024" max="65535" class="form-control">
                </div>
                <div class="form-group">
                    <label for="controlPort">Control Port:</label>
                    <input id="controlPort" name="controlPort" required type="number" min="1024" max="65535" class="form-control">
                </div>
                <div class="form-group" id="relayBandwidthField">
                    <label for="relayBandwidth">Bandwidth limit (KB/s, 0 = unlimited)</label>
                    <input type="number" class="form-control" id="relayBandwidth" name="relayBandwidth" required>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <!-- Bridge Tab Content -->
        <div class="tab-pane fade" id="bridgeTab" role="tabpanel" aria-labelledby="bridge-tab">
            <form action="/bridge/configure" id="bridgeForm" method="post">
                <div class="form-group">
                    <label for="bridgeType">Bridge Type:</label>
                    <select id="bridgeType" name="bridgeType" class="form-control" onchange="toggleBridgeFields()">
                        <option value="obfs4">Obfs4 Bridge</option>
                        <option value="webtunnel">WebTunnel Bridge</option>
                        <option value="snowflake">Snowflake</option>
                    </select>
                </div>

                <!-- Common Fields -->
                <div id="commonFields">
                    <div class="form-group">
                        <label for="bridgeNickname">Nickname:</label>
                        <input id="bridgeNickname" name="bridgeNickname" required pattern="^[a-zA-Z0-9]*$" title="Only alphanumeric characters are allowed" type="text" class="form-control" maxlength="19">
                    </div>

                    <div class="form-group">
                        <label for="bridgeContact">Contact Email:</label>
                        <input id="bridgeContact" name="bridgeContact" required type="email" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="bridgeControlPort">ControlPort:</label>
                        <input id="bridgeControlPort" name="bridgeControlPort" required type="number" min="1024" max="65535" class="form-control">
                    </div>

                    <div class="form-group" id="bridgeBandwidthField">
                        <label for="bridgeBandwidth">Bandwidth limit (KB/s, 0 = unlimited)</label>
                        <input type="number" class="form-control" id="bridgeBandwidth" name="bridgeBandwidth" required> <!-- Added required attribute -->
                    </div>
                </div>

                <!-- Specific Fields for Bridge -->
                <div class="bridge-specific" id="bridgeFields">
                    <div class="form-group">
                        <label for="bridgePort">ORPort:</label>
                        <input id="bridgePort" name="bridgePort" required type="number" min="1024" max="65535" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="bridgeTransportListenAddr">ServerTransportListenAddr:</label>
                        <input id="bridgeTransportListenAddr" name="bridgeTransportListenAddr" required type="number" min="1024" max="65535" class="form-control">
                    </div>
                </div>

                <!-- Specific Fields for WebTunnel Bridge -->
                <div class="bridge-specific" id="webtunnelFields" style="display: none;">
                    <div class="form-group">
                        <label for="webtunnelUrl">Domain:</label>
                        <input id="webtunnelUrl" name="webtunnelUrl" type="text" class="form-control">

                        <label for="webTunnelPort">Webtunnel Port:</label>
                        <input id="webTunnelPort" name="webTunnelPort" type="number" min="1024" max="65535" class="form-control">
                    </div>
                </div>

                <!-- Specific Fields for Snowflake -->
                <div class="bridge-specific" id="snowflakeFields" style="display: none;">
                    <!-- Snowflake has no specific fields to enter -->
                    <button id="runSnowflakeProxyButton" type="button" class="btn btn-primary">Configure Proxy</button>
                </div>

                <button type="submit" class="btn btn-primary">Configure Bridge</button>
            </form>
        </div>

        <!-- Onion Tab Content -->
        <div class="tab-pane fade" id="onionTab" role="tabpanel" aria-labelledby="onion-tab">
            <form action="/onion-service/configure" id="onionForm" method="post">
                <div class="form-group">
                    <label for="onionServicePort">HiddenServicePort:</label>
                    <input id="onionServicePort" name="onionServicePort" required type="number" min="1024" max="65535" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
        </div>
        <div class="col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th>Relay Type</th>
                    <th>Current/Max</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Obfs4 Bridges</td>
                    <td id="bridgeCount">0/8</td>
                </tr>
                <tr>
                    <td>Middle/Guard</td>
                    <td id="guardCount">0/2</td>
                </tr>
                <tr>
                    <td>WebTunnel</td>
                    <td id="webtunnelCount">0/1</td>
                </tr>
                <tr>
                    <td>Snowflake</td>
                    <td id="snowflakeCount">0/1</td>
                </tr>
                <tr>
                    <td>Onion Services</td>
                    <td id="onionServiceCount">0</td>
                </tr>
                </tbody>
            </table>
            <button id="toggleLimitButton" type="button" class="btn btn-primary">Turn Limit Off</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/tabs.js"></script> <!-- Include your JavaScript -->
<script src="/js/toggleBridgeFields.js"></script>
<script src="/js/snowflakeProxyManagement.js"></script>
<script src="/js/stateAndLimitManager.js"></script>
<script src="/js/updateCount.js"></script>
<script src="/js/FormSubmissionHandler.js"></script>

<script src="/js/setupConfig.js"></script>
<script src="/js/stateAndLimitManager.js"></script>
</body>
</html>