<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tor Relay Configuration</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/tabs.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/css/navbar.css" rel="stylesheet">

    <style>
        .limit-reached {
            color: blue;
        }
        .over-limit {
            color: red;
        }
    </style>
</head>
<body>
<div th:replace="navbar :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
    <h1 class="text-center my-4">Tor Relay Configuration</h1>

    <!-- Display success message if provided -->
    <div class="alert alert-success" th:if="${successMessage}" role="alert">
        <p th:text="${successMessage}"></p>
    </div>

    <!-- Create the tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="relay-tab" data-toggle="tab" href="#relayTab" role="tab" aria-controls="relayTab" aria-selected="true">Guard Relay</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bridge-tab" data-toggle="tab" href="#bridgeTab" role="tab" aria-controls="bridgeTab" aria-selected="false">Bridge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="onion-tab" data-toggle="tab" href="#onionTab" role="tab" aria-controls="onionTab" aria-selected="false">Onion Service</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <!-- Relay Tab Content -->
        <div class="tab-pane fade show active" id="relayTab" role="tabpanel" aria-labelledby="relay-tab">
            <form action="/guard/configure" id="guardForm" method="post">
                <div class="form-group">
                    <label for="relayNickname">Nickname:</label>
                    <input id="relayNickname" name="relayNickname" required type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="relayPort">Relay Port:</label>
                    <input id="relayPort" name="relayPort" required type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="relayContact">Contact:</label>
                    <input id="relayContact" name="relayContact" required type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="controlPort">Control Port:</label>
                    <input id="controlPort" name="controlPort" required type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <!-- Bridge Tab Content -->
        <div class="tab-pane fade" id="bridgeTab" role="tabpanel" aria-labelledby="bridge-tab">
            <form action="/bridge/configure" id="bridgeForm" method="post">
                <div class="form-group">
                    <label for="bridgeType">Bridge Type:</label>
                    <select id="bridgeType" name="bridgeType" class="form-control" onchange="toggleBridgeFields()">
                        <option value="obfs4">Obfs4 Bridge</option>
                        <option value="webtunnel">WebTunnel Bridge</option>
                        <option value="snowflake">Snowflake</option>
                    </select>
                </div>

                <!-- Common Fields -->
                <div id="commonFields">
                    <div class="form-group">
                        <label for="bridgeContact">Contact Email:</label>
                        <input id="bridgeContact" name="bridgeContact" required type="email" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="bridgeNickname">Nickname:</label>
                        <input id="bridgeNickname" name="bridgeNickname" required type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="bridgeControlPort">ControlPort (e.g., 9051):</label>
                        <input id="bridgeControlPort" name="bridgeControlPort" required type="text" class="form-control">
                    </div>

                    <div class="form-check">
                        <input id="includeBridgeBandwidth" name="includeBridgeBandwidth" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="includeBridgeBandwidth">Include Bandwidth (KB/s)</label>
                    </div>

                    <div id="bridgeBandwidthField" style="display: none;" class="form-group">
                        <label for="bridgeBandwidth">Bandwidth Limit (KB/s):</label>
                        <input id="bridgeBandwidth" min="0" name="bridgeBandwidth" type="number" class="form-control">
                    </div>
                </div>

                <!-- Specific Fields for Bridge -->
                <div class="bridge-specific" id="bridgeFields">
                    <div class="form-group">
                        <label for="bridgePort">ORPort (e.g., 9001):</label>
                        <input id="bridgePort" name="bridgePort" type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="bridgeTransportListenAddr">ServerTransportListenAddr (e.g., 9001):</label>
                        <input id="bridgeTransportListenAddr" name="bridgeTransportListenAddr" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-check">
                    <input id="startBridgeAfterConfig" name="startBridgeAfterConfig" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="startBridgeAfterConfig">Start Relay after configuration</label>
                </div>

                <!-- Specific Fields for WebTunnel Bridge -->
                <div class="bridge-specific" id="webtunnelFields" style="display: none;">
                    <div class="form-group">
                        <label for="webtunnelUrl">Domain:</label>
                        <input id="webtunnelUrl" name="webtunnelUrl" type="text" class="form-control">
                    </div>
                </div>

                <!-- Specific Fields for Snowflake -->
                <div class="bridge-specific" id="snowflakeFields" style="display: none;">
                    <!-- Snowflake has no specific fields to enter -->
                    <button id="runSnowflakeProxyButton" type="button" class="btn btn-primary">Run Snowflake Proxy</button>
                </div>

                <button type="submit" class="btn btn-primary">Configure Bridge</button>
            </form>
        </div>

        <!-- Onion Tab Content -->
        <div class="tab-pane fade" id="onionTab" role="tabpanel" aria-labelledby="onion-tab">
            <form action="/onion-service/configure" id="onionForm" method="post">
                <div class="form-group">
                    <label for="onionServicePort">HiddenServicePort:</label>
                    <input id="onionServicePort" name="onionServicePort" required type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
        </div>
        <div class="col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th>Relay Type</th>
                    <th>Current/Max</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Obfs4 Bridges</td>
                    <td id="bridgeCount">0/2</td>
                </tr>
                <tr>
                    <td>Guard</td>
                    <td id="guardCount">0/8</td>
                </tr>
                <tr>
                    <td>WebTunnel</td>
                    <td id="webtunnelCount">0/1</td>
                </tr>
                <tr>
                    <td>Snowflake</td>
                    <td id="snowflakeCount">0/1</td>
                </tr>
                </tbody>
            </table>
            <button id="toggleLimitButton" type="button" class="btn btn-primary">Turn Limit Off</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/tabs.js"></script> <!-- Include your JavaScript -->
<script>
    function toggleBridgeFields() {
        var bridgeType = document.getElementById("bridgeType").value;
        var commonFields = document.getElementById("commonFields");
        var bridgeFields = document.getElementById("bridgeFields");
        var webtunnelFields = document.getElementById("webtunnelFields");
        var snowflakeFields = document.getElementById("snowflakeFields");

        // Retrieve the form elements
        var bridgePort = document.getElementById("bridgePort");
        var bridgeTransportListenAddr = document.getElementById("bridgeTransportListenAddr");

        // Hide all fields initially
        commonFields.style.display = "none";
        bridgeFields.style.display = "none";
        webtunnelFields.style.display = "none";
        snowflakeFields.style.display = "none";

        // Remove 'required' attributes initially
        bridgePort.removeAttribute("required");
        bridgeTransportListenAddr.removeAttribute("required");

        // Show specific fields and add 'required' attributes based on the selected bridge type
        if (bridgeType === "obfs4" || bridgeType === "webtunnel") {
            commonFields.style.display = "block";
        }

        if (bridgeType === "obfs4") {
            bridgeFields.style.display = "block";
            bridgePort.setAttribute("required", "");
            bridgeTransportListenAddr.setAttribute("required", "");
        } else if (bridgeType === "webtunnel") {
            webtunnelFields.style.display = "block";
        } else if (bridgeType === "snowflake") {
            snowflakeFields.style.display = "block";
        }
    }

    // Call the function to initialize fields when the page loads
    window.onload = toggleBridgeFields;
</script>
<script>
    document.getElementById("runSnowflakeProxyButton").addEventListener("click", function () {
        $.ajax({
            url: '/bridge/run-snowflake-proxy',
            type: 'POST',
            success: function (response) {
                alert("Snowflake proxy started successfully");
            },
            error: function (error) {
                alert("Error starting snowflake proxy: " + error.responseText);
            }
        });
    });
</script>
<script>
    var bridgeTypes = ['obfs4', 'webtunnel', 'snowflake'];

    bridgeTypes.forEach(function(bridgeType) {
        $.get("/bridge/limit-reached", { bridgeType: bridgeType }, function(data) {
            if (data.bridgeLimitReached) {
                // Disable the bridge form fields and buttons
                var bridgeForm = document.getElementById('bridgeForm');
                bridgeForm.disabled = true;
                var formElements = bridgeForm.elements;
                for (var i = 0; i < formElements.length; i++) {
                    formElements[i].disabled = true;
                }

                // Create a new div element for the message
                var messageDiv = document.createElement("div");
                messageDiv.className = "alert alert-warning";
                messageDiv.role = "alert";
                messageDiv.innerHTML = "Maximum number of " + bridgeType + " bridges has been reached. You can edit an existing bridge or remove some to create a new one.";

                // Append the message div to the container
                document.querySelector('.container').appendChild(messageDiv);
            }
        });
    });
</script>
<script>
    $.get("/bridge/running-type", function(runningBridgeTypes) {
        if (runningBridgeTypes && !jQuery.isEmptyObject(runningBridgeTypes)) {
            // Extract the first bridge type from the response
            var runningBridgeType = Object.values(runningBridgeTypes)[0];
            console.log(runningBridgeType);

            // Disable the bridge type selection
            document.getElementById('bridgeType').disabled = true;

            // Create a new div element for the message
            var messageDiv = document.createElement("div");
            messageDiv.className = "alert alert-warning";
            messageDiv.role = "alert";
            messageDiv.innerHTML = "A bridge of type " + runningBridgeType + " is already running. You can stop the running bridge to create a new one.";

            // Append the message div to the container
            document.querySelector('.container').appendChild(messageDiv);
        }
    });
</script>
<script>
    $.get("/guard/limit-reached", function(data) {
        if (data.guardLimitReached) {
            // Disable the form fields and buttons
            var guardForm = document.getElementById('guardForm');
            guardForm.disabled = true;
            var formElements = guardForm.elements;
            for (var i = 0; i < formElements.length; i++) {
                formElements[i].disabled = true;
            }

            // Create a new div element for the message
            var messageDiv = document.createElement("div");
            messageDiv.className = "alert alert-warning";
            messageDiv.role = "alert";
            messageDiv.innerHTML = "Maximum number of guard relays has been reached. You can edit an existing relay or remove some to create a new one.";

            // Append the message div to the container
            document.querySelector('.container').appendChild(messageDiv);
        }
    });
</script>
<script>
    $.get("/bridge/limit-reached", { bridgeType: 'obfs4' }, function(data) {
        $('#bridgeCount').text(data.bridgeCount + "/2");
    });

    $.get("/guard/limit-reached", function(data) {
        $('#guardCount').text(data.guardCount + "/8");
    });

    $.get("/bridge/limit-reached", { bridgeType: 'webtunnel' }, function(data) {
        $('#webtunnelCount').text(data.bridgeCount + "/1");
    });

    $.get("/bridge/limit-reached", { bridgeType: 'snowflake' }, function(data) {
        $('#snowflakeCount').text(data.bridgeCount + "/1");
    });
</script>
<script>
    document.getElementById("toggleLimitButton").addEventListener("click", function () {
        var limitStateCheckbox = document.getElementById("limitState");
        limitStateCheckbox.checked = !limitStateCheckbox.checked;
    });
</script>
<script>
    $.get("/bridge/limit-reached", { bridgeType: 'obfs4' }, function(data) {
        var bridgeCountElement = $('#bridgeCount');
        bridgeCountElement.text(data.bridgeCount + "/2");
        if (data.bridgeCount > 2) {
            bridgeCountElement.removeClass('limit-reached');
            bridgeCountElement.addClass('over-limit');
        } else if (data.bridgeCount >= 2) {
            bridgeCountElement.removeClass('over-limit');
            bridgeCountElement.addClass('limit-reached');
        } else {
            bridgeCountElement.removeClass('limit-reached over-limit');
        }
    });

    $.get("/guard/limit-reached", function(data) {
        var guardCountElement = $('#guardCount');
        guardCountElement.text(data.guardCount + "/8");
        if (data.guardCount > 8) {
            guardCountElement.removeClass('limit-reached');
            guardCountElement.addClass('over-limit');
        } else if (data.guardCount >= 8) {
            guardCountElement.removeClass('over-limit');
            guardCountElement.addClass('limit-reached');
        } else {
            guardCountElement.removeClass('limit-reached over-limit');
        }
    });

    $.get("/bridge/limit-reached", { bridgeType: 'webtunnel' }, function(data) {
        var webtunnelCountElement = $('#webtunnelCount');
        webtunnelCountElement.text(data.bridgeCount + "/1");
        if (data.bridgeCount > 1) {
            webtunnelCountElement.removeClass('limit-reached');
            webtunnelCountElement.addClass('over-limit');
        } else if (data.bridgeCount >= 1) {
            webtunnelCountElement.removeClass('over-limit');
            webtunnelCountElement.addClass('limit-reached');
        } else {
            webtunnelCountElement.removeClass('limit-reached over-limit');
        }
    });

    $.get("/bridge/limit-reached", { bridgeType: 'snowflake' }, function(data) {
        var snowflakeCountElement = $('#snowflakeCount');
        snowflakeCountElement.text(data.bridgeCount + "/1");
        if (data.bridgeCount > 1) {
            snowflakeCountElement.removeClass('limit-reached');
            snowflakeCountElement.addClass('over-limit');
        } else if (data.bridgeCount >= 1) {
            snowflakeCountElement.removeClass('over-limit');
            snowflakeCountElement.addClass('limit-reached');
        } else {
            snowflakeCountElement.removeClass('limit-reached over-limit');
        }
    });
</script>
<script>
    $(document).ready(function() {
        $.get("/guard/limit-state-and-guard-count", function(data) {
            if (data.limitOn) {
                var runningTypeRequest = $.get("/bridge/running-type");
                var bridgeConfiguredRequest = $.get("/guard/bridge-configured");
                var guardConfiguredRequest = $.get("/guard/guard-configured");
                var onionConfiguredRequest = $.get("/onion-service/onion-configured");

                $.when(runningTypeRequest, bridgeConfiguredRequest, guardConfiguredRequest, onionConfiguredRequest).done(function(runningTypeData, bridgeData, guardData, onionData) {
                    if (runningTypeData[0] && !jQuery.isEmptyObject(runningTypeData[0])) {
                        var runningBridgeType = Object.values(runningTypeData[0])[0];
                        console.log(runningBridgeType);
                        if (runningBridgeType === 'obfs4') {
                            // Disable the bridge type field
                            $('#bridgeType').prop('disabled', true);
                        } else {
                            // Enable the bridge type field
                            $('#bridgeType').prop('disabled', false);
                        }
                    }

                    if (bridgeData[0].bridgeConfigured || guardData[0].guardConfigured || onionData[0].onionConfigured) {
                        // Disable the form fields in the bridge, guard and onion tabs
                        $('#bridgeForm :input').prop('disabled', true);
                        $('#guardForm :input').prop('disabled', true);
                        $('#onionForm :input').prop('disabled', true);
                    } else {
                        // Enable the form fields in the bridge, guard and onion tabs
                        $('#bridgeForm :input').prop('disabled', false);
                        $('#guardForm :input').prop('disabled', false);
                        $('#onionForm :input').prop('disabled', false);
                    }
                });
            } else {
                // Enable the form fields in the bridge, guard and onion tabs
                $('#bridgeForm :input').prop('disabled', false);
                $('#guardForm :input').prop('disabled', false);
                $('#onionForm :input').prop('disabled', false);
            }
        });
    });
</script>
<script>
    $(document).ready(function() {
        $.get("/bridge/limit-state", function(data) {
            var toggleLimitButton = document.getElementById("toggleLimitButton");
            if (data) {
                toggleLimitButton.textContent = "Turn Limit Off";
            } else {
                toggleLimitButton.textContent = "Turn Limit On";
            }
        });
    });
</script>
</body>
</html>